/* General Styles */
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ABB6A6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
}

/* General Font Size Adjustments */
body {
    font-size: 18px;
}

h1, h2, h3, p {
    font-size: 1.2em;
}

/* Hover Zoom Effect */
.smoothie-card img, 
.menu-item-image img {
    transition: transform 0.3s ease-in-out;
}

.smoothie-card img:hover, 
.menu-item-image img:hover {
    transform: scale(1.1);
}


/* Header Styling */
header {
    width: 100%;
    height: 300px;
    display: flex;
    background-image: url('images/smoothie3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 40px;
    color: white;
    
    
}

/* Logo */
.logo-container {
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
   
}

/* Navigation Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #455640;
    color: white;
    font-size: 18px;
    border-radius: 8px;
  
}

/* Main Content */
.smoothie-image {
   display: flex;
   justify-content: center;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.smoothie-card img {
    width: 280px; 
    height: auto;
    border-radius: 10px;

}


        

/* Footer */
footer {
    margin-top: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #455640;
}
